:root {
  --color1: rgb(243, 240, 83);
  --color2: #c4c4c400;
  --kepler1a: rgb(243, 240, 83);
  --kepler1b: #c4c4c400;
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --kepler1front: url(cards/KeplerGenerator_01.png);
  --kepler2front: url(cards/KeplerGenerator_02.png);
  --kepler3front: url(cards/KeplerGenerator_03.png);
  --kepler4front: url(cards/KeplerGenerator_04.png);
  --kepler5front: url(cards/KeplerGenerator_05.png);
  --kepler6front: url(cards/KeplerGenerator_06.png);
  --kepler7front: url(cards/KeplerGenerator_07.png);
  --kepler8front: url(cards/KeplerGenerator_08.png);
  --kepler9front: url(cards/KeplerGenerator_09.png);
  --kepler10front: url(cards/KeplerGenerator_10.png);
  --kepler11front: url(cards/KeplerGenerator_11.png);
  --kepler12front: url(cards/KeplerGenerator_12.png);
  --kepler13front: url(cards/KeplerGenerator_13.png);
  --kepler14front: url(cards/KeplerGenerator_14.png);
  --kepler15front: url(cards/KeplerGenerator_15.png);
  --kepler16front: url(cards/KeplerGenerator_16.png);
  --kepler17front: url(cards/KeplerGenerator_17.png);
  --kepler18front: url(cards/KeplerGenerator_18.png);
  --kepler19front: url(cards/KeplerGenerator_19.png);
  --kepler20front: url(cards/KeplerGenerator_20.png);
  --kepler21front: url(cards/KeplerGenerator_21.png);
  --kepler22front: url(cards/KeplerGenerator_22.png);
  --kepler23front: url(cards/KeplerGenerator_23.png);
  --kepler24front: url(cards/KeplerGenerator_24.png);
  --kepler25front: url(cards/KeplerGenerator_25.png);
  --kepler26front: url(cards/KeplerGenerator_26.png);
  --kepler27front: url(cards/KeplerGenerator_27.png);
  --kepler28front: url(cards/KeplerGenerator_28.png);
  --kepler29front: url(cards/KeplerGenerator_29.png);
  --kepler30front: url(cards/KeplerGenerator_30.png);
  --kepler31front: url(cards/KeplerGenerator_31.png);
  --kepler32front: url(cards/KeplerGenerator_32.png);
  --kepler33front: url(cards/KeplerGenerator_33.png);
  --kepler34front: url(cards/KeplerGenerator_34.png);
  --kepler35front: url(cards/KeplerGenerator_35.png);
  --kepler36front: url(cards/KeplerGenerator_36.png);
  --kepler37front: url(cards/KeplerGenerator_37.png);
  --kepler38front: url(cards/KeplerGenerator_38.png);
  --kepler39front: url(cards/KeplerGenerator_39.png);
  --kepler40front: url(cards/KeplerGenerator_40.png);
  --kepler41front: url(cards/KeplerGenerator_41.png);
  --kepler42front: url(cards/KeplerGenerator_42.png);
  --kepler43front: url(cards/KeplerGenerator_43.png);
  --kepler44front: url(cards/KeplerGenerator_44.png);
  --kepler45front: url(cards/KeplerGenerator_45.png);
  --kepler46front: url(cards/KeplerGenerator_46.png);
  --kepler47front: url(cards/KeplerGenerator_47.png);
  --kepler48front: url(cards/KeplerGenerator_48.png);
  --kepler49front: url(cards/KeplerGenerator_49.png);
  --kepler50front: url(cards/KeplerGenerator_50.png);
  --kepler51front: url(cards/KeplerGenerator_51.png);
  --kepler52front: url(cards/KeplerGenerator_52.png);
}

.card {
  width: 14.3vw;
  height: 20vw;
  position: relative;
  /* overflow: hidden; */
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border: none !important;
  /* border-radius: 5%/3.5%; */
  box-shadow: -12px -12px 12px -12px var(--color1), -12px -12px 12px -12px var(--color2),
    -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
/* @media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
} */

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.kepler1 {
  --color1: mediumaquamarine;
  --color2: var(--kepler1b);
  --front: var(--kepler1front);
}

.card.kepler2 {
  --color1: chocolate;
  --color2: var(--kepler1b);
  --front: var(--kepler2front);
}

.card.kepler3 {
  --color1: mediumspringgreen;
  --color2: var(--kepler1b);
  --front: var(--kepler3front);
}

.card.kepler4 {
  --color1: rebeccapurple;
  --color2: var(--kepler1b);
  --front: var(--kepler4front);
}

.card.kepler5 {
  --color1: fuchsia;
  --color2: var(--kepler1b);
  --front: var(--kepler5front);
}

.card.kepler6 {
  --color1: darkkhaki;
  --color2: var(--kepler1b);
  --front: var(--kepler6front);
}

.card.kepler7 {
  --color1: olivedrab;
  --color2: var(--kepler1b);
  --front: var(--kepler7front);
}

.card.kepler8 {
  --color1: gray;
  --color2: var(--kepler1b);
  --front: var(--kepler8front);
}

.card.kepler9 {
  --color1: dodgerblue;
  --color2: var(--kepler1b);
  --front: var(--kepler9front);
}

.card.kepler10 {
  --color1: silver;
  --color2: var(--kepler1b);
  --front: var(--kepler10front);
}

.card.kepler11 {
  --color1: lightseagreen;
  --color2: var(--kepler1b);
  --front: var(--kepler11front);
}

.card.kepler12 {
  --color1: violet;
  --color2: var(--kepler1b);
  --front: var(--kepler12front);
}

.card.kepler13 {
  --color1: greenyellow;
  --color2: var(--kepler1b);
  --front: var(--kepler13front);
}

.card.kepler14 {
  --color1: orangered;
  --color2: var(--kepler1b);
  --front: var(--kepler14front);
}

.card.kepler15 {
  --color1: steelblue;
  --color2: var(--kepler1b);
  --front: var(--kepler15front);
}

.card.kepler16 {
  --color1: turquoise;
  --color2: var(--kepler1b);
  --front: var(--kepler16front);
}

.card.kepler17 {
  --color1: sandybrown;
  --color2: var(--kepler1b);
  --front: var(--kepler17front);
}

.card.kepler18 {
  --color1: forestgreen;
  --color2: var(--kepler1b);
  --front: var(--kepler18front);
}

.card.kepler19 {
  --color1: silver;
  --color2: var(--kepler1b);
  --front: var(--kepler19front);
}

.card.kepler20 {
  --color1: limegreen;
  --color2: var(--kepler1b);
  --front: var(--kepler20front);
}

.card.kepler21 {
  --color1: greenyellow;
  --color2: var(--kepler1b);
  --front: var(--kepler21front);
}

.card.kepler22 {
  --color1: aqua;
  --color2: var(--kepler1b);
  --front: var(--kepler22front);
}

.card.kepler23 {
  --color1: gray;
  --color2: var(--kepler1b);
  --front: var(--kepler23front);
}

.card.kepler24 {
  --color1: crimson;
  --color2: var(--kepler1b);
  --front: var(--kepler24front);
}

.card.kepler25 {
  --color1: coral;
  --color2: var(--kepler1b);
  --front: var(--kepler25front);
}

.card.kepler26 {
  --color1: olivedrab;
  --color2: var(--kepler1b);
  --front: var(--kepler26front);
}

.card.kepler27 {
  --color1: gold;
  --color2: var(--kepler1b);
  --front: var(--kepler27front);
}

.card.kepler28 {
  --color1: deeppink;
  --color2: var(--kepler1b);
  --front: var(--kepler28front);
}

.card.kepler29 {
  --color1: blue;
  --color2: var(--kepler1b);
  --front: var(--kepler29front);
}

.card.kepler30 {
  --color1: saddlebrown;
  --color2: var(--kepler1b);
  --front: var(--kepler30front);
}

.card.kepler31 {
  --color1: pink;
  --color2: var(--kepler1b);
  --front: var(--kepler31front);
}

.card.kepler32 {
  --color1: sandybrown;
  --color2: var(--kepler1b);
  --front: var(--kepler32front);
}

.card.kepler33 {
  --color1: mediumaquamarine;
  --color2: var(--kepler1b);
  --front: var(--kepler33front);
}

.card.kepler34 {
  --color1: lavender;
  --color2: var(--kepler1b);
  --front: var(--kepler34front);
}

.card.kepler35 {
  --color1: teal;
  --color2: var(--kepler1b);
  --front: var(--kepler35front);
}

.card.kepler36 {
  --color1: steelblue;
  --color2: var(--kepler1b);
  --front: var(--kepler36front);
}

.card.kepler37 {
  --color1: mediumspringgreen;
  --color2: var(--kepler1b);
  --front: var(--kepler37front);
}

.card.kepler38 {
  --color1: lightseagreen;
  --color2: var(--kepler1b);
  --front: var(--kepler38front);
}

.card.kepler39 {
  --color1: purple;
  --color2: var(--kepler1b);
  --front: var(--kepler39front);
}

.card.kepler40 {
  --color1: crimson;
  --color2: var(--kepler1b);
  --front: var(--kepler40front);
}

.card.kepler41 {
  --color1: lavender;
  --color2: var(--kepler1b);
  --front: var(--kepler41front);
}

.card.kepler42 {
  --color1: mediumorchid;
  --color2: var(--kepler1b);
  --front: var(--kepler42front);
}

.card.kepler43 {
  --color1: darkkhaki;
  --color2: var(--kepler1b);
  --front: var(--kepler43front);
}

.card.kepler44 {
  --color1: mediumseagreen;
  --color2: var(--kepler1b);
  --front: var(--kepler44front);
}

.card.kepler45 {
  --color1: orangered;
  --color2: var(--kepler1b);
  --front: var(--kepler45front);
}

.card.kepler46 {
  --color1: forestgreen;
  --color2: var(--kepler1b);
  --front: var(--kepler46front);
}

.card.kepler47 {
  --color1: violet;
  --color2: var(--kepler1b);
  --front: var(--kepler47front);
}

.card.kepler48 {
  --color1: mediumseagreen;
  --color2: var(--kepler1b);
  --front: var(--kepler48front);
}

.card.kepler49 {
  --color1: turquoise;
  --color2: var(--kepler1b);
  --front: var(--kepler49front);
}

.card.kepler50 {
  --color1: sandybrown;
  --color2: var(--kepler1b);
  --front: var(--kepler50front);
}

.card.kepler51 {
  --color1: deeppink;
  --color2: var(--kepler1b);
  --front: var(--kepler51front);
}

.card.kepler52 {
  --color1: mediumspringgreen;
  --color2: var(--kepler1b);
  --front: var(--kepler52front);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  /* -webkit-animation: holoCard 12s ease 0s 1; */
  /* animation: holoCard 12s ease 0s 1; */
}
.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
  animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
  animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@-webkit-keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

.demo .card {
  background-image: var(--back);
  font-size: 2vh;
}

.demo .card > span {
  position: relative;
  top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 25px 15px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(2):after,
.demo .card:nth-of-type(3):before,
.demo .card:nth-of-type(3):after {
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after {
  display: none;
}

.demo .card:nth-of-type(2) {
  background: none;
}
.demo .card:nth-of-type(2):before {
  display: none;
}

.demo .card:nth-of-type(3) {
  background: none;
}
.demo .card:nth-of-type(3):after {
  display: none;
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

.demo,
.cards {
  padding-left: 30px;
  padding-right: 30px;
  row-gap: 50px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
  padding-bottom: 180px;
}

.demo {
  flex-direction: row;
  justify-content: center;
}

/* @media screen and (max-width: 900px) {
  .cards {
    padding-left: 30px;
    padding-right: 30px;
    row-gap: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
  } */

  /* .card {
    width: 71.5vw;
    height: 100vw;
  } */

.cards .card:nth-child(2),
.cards .card:nth-child(2):before,
.cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.cards .card:nth-child(3),
.cards .card:nth-child(3):before,
.cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.cards .card:nth-child(4),
.cards .card:nth-child(4):before,
.cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
