:root {
  --color1: rgb(223, 221, 128);
  --color2: #c4c4c400;
  --alch1a: rgb(223, 221, 128);
  --alch1b: #c4c4c400;
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --alch1front: url(cards/KeplerGenerator_01.png);
  --alch2front: url(cards/KeplerGenerator_02.png);
  --alch3front: url(cards/KeplerGenerator_03.png);
  --alch4front: url(cards/KeplerGenerator_04.png);
  --alch5front: url(cards/KeplerGenerator_05.png);
  --alch6front: url(cards/KeplerGenerator_06.png);
  --alch7front: url(cards/KeplerGenerator_07.png);
  --alch8front: url(cards/KeplerGenerator_08.png);
  /* --alch9front: url(cards/9.png);
  --alch10front: url(cards/10.png);
  --alch11front: url(cards/11.png);
  --alch12front: url(cards/12.png);
  --alch19front: url(cards/19.png);
  --alch22front: url(cards/22.png);
  --alch32front: url(cards/32.png);
  --alch48front: url(cards/48.png);
  --alch51front: url(cards/51.png);
  --alch54front: url(cards/54.png);
  --alch57front: url(cards/57.png);
  --alch58front: url(cards/58.png); */


}

.card {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  /* border-radius: 5%/3.5%; */
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
    -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
@media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.alch1 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch1front);
}

.card.alch2 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch2front);
}

.card.alch3 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch3front);
}

.card.alch4 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch4front);
}

.card.alch5 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch5front);
}

.card.alch6 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch6front);
}

.card.alch7 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch7front);
}

.card.alch8 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch8front);
}

.card.alch9 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch9front);
}

.card.alch10 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch10front);
}

.card.alch11 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch11front);
}

.card.alch12 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch12front);
}

.card.alch19 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch19front);
}
.card.alch22 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch22front);
}
.card.alch32 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch32front);
}
.card.alch48 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch48front);
}
.card.alch51 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch51front);
}
.card.alch54 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch54front);
}
.card.alch57 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch57front);
}
.card.alch58 {
  --color1: var(--alch1a);
  --color2: var(--alch1b);
  --front: var(--alch58front);
}


/* .card.kangchenjunga {
	--color1: #daec9b;
	--color2: #b0cc6f;
	--color3: #20fdebcc;
	--color4: #8ea7d6;
	--color5: #b98cce;
	--front: var(--kangchenjungafront);
  } */

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
  animation: holoCard 12s ease 0s 1;
}
.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
  animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
  animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@-webkit-keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
/* .card.kangchenjunga:hover {
	box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  
  .card.kangchenjunga:hover:before,
  .card.kangchenjunga.active:before {
	background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
  } */

.demo .card {
  background-image: var(--back);
  font-size: 2vh;
}

.demo .card > span {
  position: relative;
  top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 25px 15px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(2):after,
.demo .card:nth-of-type(3):before,
.demo .card:nth-of-type(3):after {
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after {
  display: none;
}

.demo .card:nth-of-type(2) {
  background: none;
}
.demo .card:nth-of-type(2):before {
  display: none;
}

.demo .card:nth-of-type(3) {
  background: none;
}
.demo .card:nth-of-type(3):after {
  display: none;
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

.demo,
.cards {
  padding-left: 30px;
  padding-right: 30px;
  row-gap: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .cards {
    padding-left: 30px;
    padding-right: 30px;
    row-gap: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
  }

  .card { 
	width: 71.5vw;
	height: 100vw;   
  }
}
.cards .card:nth-child(2),
.cards .card:nth-child(2):before,
.cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.cards .card:nth-child(3),
.cards .card:nth-child(3):before,
.cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.cards .card:nth-child(4),
.cards .card:nth-child(4):before,
.cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
