html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) !important;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1323px 1403px #fff, 1617px 1242px #fff, 1570px 817px #fff,
    1312px 6px #fff, 1553px 1107px #fff, 977px 167px #fff, 682px 1311px #fff,
    1341px 1699px #fff, 1316px 1413px #fff, 81px 1721px #fff, 1014px 1005px #fff,
    1678px 225px #fff, 1276px 1432px #fff, 475px 1094px #fff, 599px 978px #fff,
    745px 543px #fff, 630px 1020px #fff, 1512px 678px #fff, 46px 490px #fff,
    1585px 1960px #fff, 139px 1564px #fff, 280px 891px #fff, 1588px 387px #fff,
    403px 1721px #fff, 1412px 719px #fff, 1325px 856px #fff, 416px 396px #fff,
    790px 1538px #fff, 1598px 617px #fff, 1416px 1924px #fff, 1769px 1780px #fff,
    931px 1337px #fff, 598px 72px #fff, 855px 1495px #fff, 156px 676px #fff,
    1304px 88px #fff, 1806px 1906px #fff, 1334px 1728px #fff, 858px 247px #fff,
    304px 69px #fff, 1737px 102px #fff, 1213px 446px #fff, 933px 665px #fff,
    1163px 1344px #fff, 1591px 583px #fff, 1803px 1767px #fff, 1809px 836px #fff,
    485px 1881px #fff, 143px 1263px #fff, 836px 1479px #fff, 422px 409px #fff,
    22px 1940px #fff, 1199px 261px #fff, 1873px 1148px #fff, 125px 1127px #fff,
    1076px 314px #fff, 1960px 1117px #fff, 1142px 1214px #fff,
    1314px 1643px #fff, 1233px 1274px #fff, 803px 1245px #fff, 1555px 791px #fff,
    1764px 775px #fff, 1657px 1635px #fff, 111px 1891px #fff, 1454px 102px #fff,
    99px 789px #fff, 383px 1225px #fff, 1099px 1909px #fff, 804px 29px #fff,
    1476px 1311px #fff, 1485px 810px #fff, 1752px 804px #fff, 1080px 1646px #fff,
    827px 1683px #fff, 1662px 598px #fff, 1688px 1424px #fff, 725px 365px #fff,
    1651px 602px #fff, 819px 310px #fff, 832px 1344px #fff, 1262px 1405px #fff,
    1233px 1186px #fff, 1082px 503px #fff, 893px 1049px #fff, 584px 1259px #fff,
    296px 886px #fff, 250px 14px #fff, 718px 1921px #fff, 1583px 842px #fff,
    1686px 36px #fff, 226px 1315px #fff, 1643px 81px #fff, 1792px 1858px #fff,
    155px 845px #fff, 136px 1472px #fff, 133px 1970px #fff, 162px 1886px #fff,
    1122px 1114px #fff, 691px 661px #fff, 1490px 11px #fff, 1149px 405px #fff,
    1821px 151px #fff, 751px 791px #fff, 1962px 1007px #fff, 1367px 1089px #fff,
    570px 1249px #fff, 592px 992px #fff, 242px 638px #fff, 243px 1617px #fff,
    1373px 1707px #fff, 1527px 1251px #fff, 144px 1868px #fff, 351px 138px #fff,
    1988px 74px #fff, 1227px 1562px #fff, 1019px 1925px #fff, 1869px 658px #fff,
    279px 763px #fff, 139px 151px #fff, 833px 1947px #fff, 313px 1366px #fff,
    1127px 423px #fff, 15px 1966px #fff, 1709px 744px #fff, 1764px 675px #fff,
    695px 1459px #fff, 1873px 679px #fff, 885px 1872px #fff, 302px 990px #fff,
    115px 688px #fff, 923px 1595px #fff, 576px 964px #fff, 1175px 1650px #fff,
    752px 1593px #fff, 1015px 949px #fff, 1684px 1199px #fff, 173px 1240px #fff,
    282px 1678px #fff, 979px 297px #fff, 136px 1145px #fff, 1897px 1030px #fff,
    1939px 1565px #fff, 1592px 1123px #fff, 367px 237px #fff, 188px 365px #fff,
    1720px 1102px #fff, 1094px 1625px #fff, 1889px 1391px #fff, 584px 190px #fff,
    474px 836px #fff, 1055px 1585px #fff, 688px 303px #fff, 1682px 225px #fff,
    1121px 1606px #fff, 1919px 659px #fff, 310px 1207px #fff, 1376px 120px #fff,
    534px 839px #fff, 1612px 1372px #fff, 1406px 479px #fff, 1849px 167px #fff,
    1047px 1913px #fff, 1856px 2px #fff, 1860px 1647px #fff, 275px 1692px #fff,
    865px 908px #fff, 461px 1275px #fff, 888px 1571px #fff, 1879px 794px #fff,
    241px 1645px #fff, 835px 1962px #fff, 816px 1948px #fff, 955px 148px #fff,
    1033px 1063px #fff, 269px 373px #fff, 657px 699px #fff, 605px 795px #fff,
    523px 1742px #fff, 157px 472px #fff, 1007px 1267px #fff, 1849px 1975px #fff,
    1755px 479px #fff, 363px 1172px #fff, 617px 999px #fff, 983px 539px #fff,
    1060px 1544px #fff, 1634px 1093px #fff, 1549px 621px #fff, 664px 863px #fff,
    1733px 376px #fff, 415px 1911px #fff, 73px 186px #fff, 677px 1871px #fff,
    1708px 1702px #fff, 1219px 1708px #fff, 1200px 1101px #fff,
    470px 1818px #fff, 360px 1548px #fff, 1272px 1742px #fff, 646px 1270px #fff,
    646px 1555px #fff, 1722px 221px #fff, 1680px 1745px #fff, 393px 1565px #fff,
    845px 828px #fff, 1176px 318px #fff, 588px 890px #fff, 141px 1230px #fff,
    1218px 802px #fff, 814px 1851px #fff, 323px 895px #fff, 1395px 1794px #fff,
    648px 390px #fff, 539px 45px #fff, 1547px 1067px #fff, 902px 816px #fff,
    1718px 1209px #fff, 467px 1849px #fff, 54px 798px #fff, 384px 455px #fff,
    456px 1875px #fff, 1290px 956px #fff, 786px 1959px #fff, 1629px 1357px #fff,
    1004px 376px #fff, 1428px 1614px #fff, 738px 1994px #fff, 1280px 685px #fff,
    1741px 1537px #fff, 238px 548px #fff, 1770px 1034px #fff, 910px 774px #fff,
    633px 752px #fff, 1942px 1860px #fff, 1701px 887px #fff, 754px 379px #fff,
    1210px 99px #fff, 1473px 586px #fff, 1885px 1914px #fff, 837px 1910px #fff,
    1184px 210px #fff, 1222px 331px #fff, 1468px 1785px #fff, 134px 493px #fff,
    843px 125px #fff, 302px 977px #fff, 594px 923px #fff, 1855px 480px #fff,
    630px 1591px #fff, 589px 882px #fff, 1767px 1221px #fff, 1412px 1530px #fff,
    1673px 939px #fff, 1752px 1606px #fff, 1572px 338px #fff, 1066px 621px #fff,
    1768px 115px #fff, 757px 1516px #fff, 1213px 205px #fff, 440px 104px #fff,
    316px 1625px #fff, 701px 1881px #fff, 1648px 1404px #fff, 1597px 1849px #fff,
    1718px 607px #fff, 205px 300px #fff, 1527px 1337px #fff, 422px 903px #fff,
    474px 31px #fff, 1800px 1128px #fff, 1455px 518px #fff, 1864px 946px #fff,
    964px 5px #fff, 254px 1790px #fff, 1977px 467px #fff, 1595px 1657px #fff,
    1115px 1081px #fff, 1976px 1191px #fff, 105px 1529px #fff, 1862px 167px #fff,
    1920px 475px #fff, 1955px 7px #fff, 462px 1065px #fff, 229px 427px #fff,
    721px 896px #fff, 1091px 341px #fff, 653px 229px #fff, 492px 650px #fff,
    139px 1141px #fff, 1104px 825px #fff, 1805px 660px #fff, 33px 64px #fff,
    1503px 1768px #fff, 1053px 1262px #fff, 1500px 24px #fff, 356px 1836px #fff,
    21px 225px #fff, 277px 1766px #fff, 965px 1971px #fff, 444px 1711px #fff,
    1580px 210px #fff, 704px 1098px #fff, 79px 803px #fff, 1708px 1868px #fff,
    324px 785px #fff, 1155px 1694px #fff, 1980px 670px #fff, 744px 405px #fff,
    917px 236px #fff, 408px 1520px #fff, 869px 1168px #fff, 344px 1396px #fff,
    1239px 585px #fff, 1727px 1311px #fff, 441px 180px #fff, 1335px 1204px #fff,
    890px 1481px #fff, 1999px 1190px #fff, 966px 197px #fff, 1648px 359px #fff,
    1470px 579px #fff, 991px 1553px #fff, 995px 1677px #fff, 940px 1409px #fff,
    1185px 1746px #fff, 741px 1096px #fff, 159px 1783px #fff, 554px 1490px #fff,
    836px 1180px #fff, 521px 1437px #fff, 607px 1496px #fff, 722px 559px #fff,
    9px 267px #fff, 1102px 515px #fff, 40px 401px #fff, 1454px 1906px #fff,
    1472px 1969px #fff, 1250px 669px #fff, 1786px 387px #fff, 1701px 619px #fff,
    854px 1350px #fff, 283px 1056px #fff, 1339px 1167px #fff, 798px 560px #fff,
    1001px 1215px #fff, 1700px 102px #fff, 1832px 89px #fff, 1692px 1831px #fff,
    347px 1955px #fff, 1699px 118px #fff, 510px 1870px #fff, 796px 50px #fff,
    888px 1916px #fff, 400px 977px #fff, 913px 760px #fff, 1358px 1457px #fff,
    23px 158px #fff, 1927px 871px #fff, 1884px 754px #fff, 523px 1339px #fff,
    1108px 956px #fff, 1188px 1979px #fff, 978px 1800px #fff, 1990px 1972px #fff,
    1463px 764px #fff, 1649px 1005px #fff, 1514px 1528px #fff, 1594px 179px #fff,
    1818px 918px #fff, 476px 1315px #fff, 330px 1541px #fff, 828px 306px #fff,
    481px 1693px #fff, 1274px 666px #fff, 878px 930px #fff, 1985px 489px #fff,
    60px 1155px #fff, 621px 929px #fff, 747px 1181px #fff, 600px 500px #fff,
    151px 1657px #fff, 1680px 1063px #fff, 916px 1405px #fff, 1105px 1990px #fff,
    1397px 1876px #fff, 589px 175px #fff, 308px 1340px #fff, 1985px 644px #fff,
    1618px 354px #fff, 771px 608px #fff, 1123px 333px #fff, 341px 5px #fff,
    329px 175px #fff, 1483px 1723px #fff, 1466px 1686px #fff, 1392px 1430px #fff,
    207px 1269px #fff, 92px 951px #fff, 1469px 90px #fff, 567px 128px #fff,
    154px 339px #fff, 127px 658px #fff, 909px 1335px #fff, 74px 950px #fff,
    130px 1737px #fff, 709px 1179px #fff, 1654px 344px #fff, 1086px 1665px #fff,
    840px 1740px #fff, 1727px 386px #fff, 1322px 933px #fff, 1314px 1180px #fff,
    14px 231px #fff, 564px 1685px #fff, 1092px 1555px #fff, 463px 120px #fff,
    1188px 1276px #fff, 249px 359px #fff, 1930px 362px #fff, 1510px 1600px #fff,
    249px 934px #fff, 1344px 1048px #fff, 99px 1500px #fff, 1779px 29px #fff,
    1561px 810px #fff, 1307px 152px #fff, 618px 1631px #fff, 964px 284px #fff,
    716px 1142px #fff, 654px 460px #fff, 1077px 1713px #fff, 201px 1427px #fff,
    338px 1627px #fff, 123px 1492px #fff, 1920px 1906px #fff, 1665px 1261px #fff,
    1800px 118px #fff, 491px 1958px #fff, 1723px 1289px #fff, 481px 124px #fff,
    166px 429px #fff, 428px 721px #fff, 1121px 1112px #fff, 1204px 214px #fff,
    867px 233px #fff, 1722px 1230px #fff, 764px 1233px #fff, 550px 687px #fff,
    995px 41px #fff, 1784px 140px #fff, 551px 518px #fff, 1361px 1590px #fff,
    1783px 10px #fff, 314px 580px #fff, 141px 163px #fff, 1733px 334px #fff,
    1061px 331px #fff, 1081px 1052px #fff, 1601px 431px #fff, 692px 927px #fff,
    758px 1688px #fff, 436px 990px #fff, 1197px 1872px #fff, 761px 1489px #fff,
    1874px 932px #fff, 1628px 1583px #fff, 226px 824px #fff, 148px 485px #fff,
    413px 1985px #fff, 479px 720px #fff, 1437px 388px #fff, 1461px 1425px #fff,
    849px 371px #fff, 218px 320px #fff, 1378px 682px #fff, 1964px 1604px #fff,
    1348px 1600px #fff, 1px 109px #fff, 336px 126px #fff, 92px 1057px #fff,
    918px 1250px #fff, 1780px 1017px #fff, 1469px 530px #fff, 14px 439px #fff,
    777px 487px #fff, 784px 518px #fff, 1618px 1206px #fff, 397px 1224px #fff,
    955px 873px #fff, 1120px 918px #fff, 1308px 629px #fff, 815px 724px #fff,
    264px 428px #fff, 915px 120px #fff, 803px 1919px #fff, 88px 1468px #fff,
    1324px 195px #fff, 67px 195px #fff, 1489px 817px #fff, 895px 1431px #fff,
    1402px 400px #fff, 43px 1542px #fff, 785px 536px #fff, 1578px 1801px #fff,
    1483px 1906px #fff, 746px 1661px #fff, 196px 1919px #fff, 547px 56px #fff,
    72px 1189px #fff, 1491px 1850px #fff, 1012px 1712px #fff, 1549px 1741px #fff,
    138px 1234px #fff, 1729px 833px #fff, 1052px 1439px #fff, 635px 770px #fff,
    1711px 1396px #fff, 158px 1322px #fff, 1515px 1940px #fff, 693px 879px #fff,
    1377px 1348px #fff, 1764px 83px #fff, 1988px 1585px #fff, 1092px 1053px #fff,
    1101px 703px #fff, 954px 32px #fff, 1849px 1016px #fff, 730px 1875px #fff,
    1884px 906px #fff, 1686px 692px #fff, 266px 1285px #fff, 37px 282px #fff,
    170px 1930px #fff, 1156px 1024px #fff, 1283px 881px #fff, 810px 446px #fff,
    220px 380px #fff, 1199px 1460px #fff, 586px 1425px #fff, 102px 394px #fff,
    998px 724px #fff, 1010px 1098px #fff, 992px 35px #fff, 1602px 423px #fff,
    260px 389px #fff, 1898px 100px #fff, 1000px 469px #fff, 1772px 1613px #fff,
    1698px 1345px #fff, 214px 1631px #fff, 1472px 1615px #fff, 643px 1093px #fff,
    22px 1008px #fff, 1942px 1249px #fff, 1199px 1926px #fff, 1605px 1217px #fff,
    1163px 1607px #fff, 623px 1756px #fff, 1528px 1659px #fff,
    1974px 1304px #fff, 243px 207px #fff, 1950px 1717px #fff, 551px 1027px #fff,
    63px 745px #fff, 854px 1407px #fff, 342px 1449px #fff, 548px 1502px #fff,
    756px 997px #fff, 1507px 1961px #fff, 1178px 1582px #fff, 702px 576px #fff,
    1193px 1092px #fff, 431px 1029px #fff, 1451px 1395px #fff, 1572px 710px #fff,
    682px 1007px #fff, 1444px 623px #fff, 1177px 440px #fff, 892px 1696px #fff,
    345px 1554px #fff, 1959px 844px #fff, 874px 1162px #fff, 1753px 125px #fff,
    53px 50px #fff, 1666px 485px #fff, 76px 1184px #fff, 222px 531px #fff,
    629px 411px #fff, 431px 1426px #fff, 1775px 175px #fff, 895px 222px #fff,
    353px 1035px #fff, 199px 1850px #fff, 141px 867px #fff, 1447px 199px #fff,
    257px 2px #fff, 327px 1948px #fff, 1150px 284px #fff, 79px 1737px #fff,
    181px 1934px #fff, 775px 1398px #fff, 885px 671px #fff, 1370px 1632px #fff,
    589px 1164px #fff, 1254px 123px #fff, 385px 426px #fff, 920px 1108px #fff,
    594px 161px #fff, 461px 342px #fff, 352px 816px #fff, 1568px 1028px #fff,
    1658px 1679px #fff, 1780px 179px #fff, 1360px 1863px #fff,
    1338px 1534px #fff, 187px 163px #fff, 80px 1837px #fff, 1542px 1836px #fff,
    265px 1343px #fff, 1233px 787px #fff, 754px 899px #fff, 1949px 699px #fff,
    1813px 1686px #fff, 180px 1621px #fff, 1788px 1344px #fff,
    1625px 1757px #fff, 1567px 1916px #fff, 757px 442px #fff, 709px 1590px #fff,
    1260px 1478px #fff, 1740px 158px #fff, 1222px 576px #fff, 1026px 1495px #fff,
    598px 1645px #fff, 979px 1644px #fff, 1293px 1557px #fff, 315px 1115px #fff,
    262px 260px #fff, 1607px 1390px #fff, 928px 528px #fff, 989px 578px #fff,
    1064px 1501px #fff, 1631px 1150px #fff, 1152px 654px #fff, 547px 389px #fff,
    547px 1982px #fff, 1212px 871px #fff, 114px 1852px #fff, 161px 1895px #fff,
    1763px 573px #fff, 1952px 1634px #fff, 528px 1989px #fff, 970px 1749px #fff,
    1310px 954px #fff, 580px 1866px #fff, 870px 1244px #fff, 319px 903px #fff,
    151px 112px #fff, 1216px 536px #fff, 369px 705px #fff, 1271px 1320px #fff,
    151px 1651px #fff, 1122px 252px #fff, 299px 1333px #fff, 1416px 785px #fff,
    923px 1250px #fff, 1801px 1438px #fff, 1610px 1189px #fff, 1883px 496px #fff,
    1156px 800px #fff, 1311px 975px #fff, 1430px 1521px #fff, 1413px 1903px #fff,
    1123px 1758px #fff, 1118px 1291px #fff, 1290px 669px #fff, 1111px 790px #fff,
    436px 1632px #fff, 449px 588px #fff, 1201px 496px #fff, 165px 1359px #fff,
    1465px 1152px #fff, 1119px 1526px #fff, 650px 1452px #fff,
    1952px 1331px #fff, 1270px 1484px #fff, 757px 979px #fff, 1182px 1475px #fff,
    1491px 1795px #fff, 556px 97px #fff, 443px 1425px #fff, 276px 47px #fff,
    1969px 1344px #fff, 962px 1686px #fff, 662px 1084px #fff, 1955px 253px #fff,
    1889px 303px #fff, 525px 1708px #fff, 1195px 1191px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1323px 1403px #fff, 1617px 1242px #fff, 1570px 817px #fff,
    1312px 6px #fff, 1553px 1107px #fff, 977px 167px #fff, 682px 1311px #fff,
    1341px 1699px #fff, 1316px 1413px #fff, 81px 1721px #fff, 1014px 1005px #fff,
    1678px 225px #fff, 1276px 1432px #fff, 475px 1094px #fff, 599px 978px #fff,
    745px 543px #fff, 630px 1020px #fff, 1512px 678px #fff, 46px 490px #fff,
    1585px 1960px #fff, 139px 1564px #fff, 280px 891px #fff, 1588px 387px #fff,
    403px 1721px #fff, 1412px 719px #fff, 1325px 856px #fff, 416px 396px #fff,
    790px 1538px #fff, 1598px 617px #fff, 1416px 1924px #fff, 1769px 1780px #fff,
    931px 1337px #fff, 598px 72px #fff, 855px 1495px #fff, 156px 676px #fff,
    1304px 88px #fff, 1806px 1906px #fff, 1334px 1728px #fff, 858px 247px #fff,
    304px 69px #fff, 1737px 102px #fff, 1213px 446px #fff, 933px 665px #fff,
    1163px 1344px #fff, 1591px 583px #fff, 1803px 1767px #fff, 1809px 836px #fff,
    485px 1881px #fff, 143px 1263px #fff, 836px 1479px #fff, 422px 409px #fff,
    22px 1940px #fff, 1199px 261px #fff, 1873px 1148px #fff, 125px 1127px #fff,
    1076px 314px #fff, 1960px 1117px #fff, 1142px 1214px #fff,
    1314px 1643px #fff, 1233px 1274px #fff, 803px 1245px #fff, 1555px 791px #fff,
    1764px 775px #fff, 1657px 1635px #fff, 111px 1891px #fff, 1454px 102px #fff,
    99px 789px #fff, 383px 1225px #fff, 1099px 1909px #fff, 804px 29px #fff,
    1476px 1311px #fff, 1485px 810px #fff, 1752px 804px #fff, 1080px 1646px #fff,
    827px 1683px #fff, 1662px 598px #fff, 1688px 1424px #fff, 725px 365px #fff,
    1651px 602px #fff, 819px 310px #fff, 832px 1344px #fff, 1262px 1405px #fff,
    1233px 1186px #fff, 1082px 503px #fff, 893px 1049px #fff, 584px 1259px #fff,
    296px 886px #fff, 250px 14px #fff, 718px 1921px #fff, 1583px 842px #fff,
    1686px 36px #fff, 226px 1315px #fff, 1643px 81px #fff, 1792px 1858px #fff,
    155px 845px #fff, 136px 1472px #fff, 133px 1970px #fff, 162px 1886px #fff,
    1122px 1114px #fff, 691px 661px #fff, 1490px 11px #fff, 1149px 405px #fff,
    1821px 151px #fff, 751px 791px #fff, 1962px 1007px #fff, 1367px 1089px #fff,
    570px 1249px #fff, 592px 992px #fff, 242px 638px #fff, 243px 1617px #fff,
    1373px 1707px #fff, 1527px 1251px #fff, 144px 1868px #fff, 351px 138px #fff,
    1988px 74px #fff, 1227px 1562px #fff, 1019px 1925px #fff, 1869px 658px #fff,
    279px 763px #fff, 139px 151px #fff, 833px 1947px #fff, 313px 1366px #fff,
    1127px 423px #fff, 15px 1966px #fff, 1709px 744px #fff, 1764px 675px #fff,
    695px 1459px #fff, 1873px 679px #fff, 885px 1872px #fff, 302px 990px #fff,
    115px 688px #fff, 923px 1595px #fff, 576px 964px #fff, 1175px 1650px #fff,
    752px 1593px #fff, 1015px 949px #fff, 1684px 1199px #fff, 173px 1240px #fff,
    282px 1678px #fff, 979px 297px #fff, 136px 1145px #fff, 1897px 1030px #fff,
    1939px 1565px #fff, 1592px 1123px #fff, 367px 237px #fff, 188px 365px #fff,
    1720px 1102px #fff, 1094px 1625px #fff, 1889px 1391px #fff, 584px 190px #fff,
    474px 836px #fff, 1055px 1585px #fff, 688px 303px #fff, 1682px 225px #fff,
    1121px 1606px #fff, 1919px 659px #fff, 310px 1207px #fff, 1376px 120px #fff,
    534px 839px #fff, 1612px 1372px #fff, 1406px 479px #fff, 1849px 167px #fff,
    1047px 1913px #fff, 1856px 2px #fff, 1860px 1647px #fff, 275px 1692px #fff,
    865px 908px #fff, 461px 1275px #fff, 888px 1571px #fff, 1879px 794px #fff,
    241px 1645px #fff, 835px 1962px #fff, 816px 1948px #fff, 955px 148px #fff,
    1033px 1063px #fff, 269px 373px #fff, 657px 699px #fff, 605px 795px #fff,
    523px 1742px #fff, 157px 472px #fff, 1007px 1267px #fff, 1849px 1975px #fff,
    1755px 479px #fff, 363px 1172px #fff, 617px 999px #fff, 983px 539px #fff,
    1060px 1544px #fff, 1634px 1093px #fff, 1549px 621px #fff, 664px 863px #fff,
    1733px 376px #fff, 415px 1911px #fff, 73px 186px #fff, 677px 1871px #fff,
    1708px 1702px #fff, 1219px 1708px #fff, 1200px 1101px #fff,
    470px 1818px #fff, 360px 1548px #fff, 1272px 1742px #fff, 646px 1270px #fff,
    646px 1555px #fff, 1722px 221px #fff, 1680px 1745px #fff, 393px 1565px #fff,
    845px 828px #fff, 1176px 318px #fff, 588px 890px #fff, 141px 1230px #fff,
    1218px 802px #fff, 814px 1851px #fff, 323px 895px #fff, 1395px 1794px #fff,
    648px 390px #fff, 539px 45px #fff, 1547px 1067px #fff, 902px 816px #fff,
    1718px 1209px #fff, 467px 1849px #fff, 54px 798px #fff, 384px 455px #fff,
    456px 1875px #fff, 1290px 956px #fff, 786px 1959px #fff, 1629px 1357px #fff,
    1004px 376px #fff, 1428px 1614px #fff, 738px 1994px #fff, 1280px 685px #fff,
    1741px 1537px #fff, 238px 548px #fff, 1770px 1034px #fff, 910px 774px #fff,
    633px 752px #fff, 1942px 1860px #fff, 1701px 887px #fff, 754px 379px #fff,
    1210px 99px #fff, 1473px 586px #fff, 1885px 1914px #fff, 837px 1910px #fff,
    1184px 210px #fff, 1222px 331px #fff, 1468px 1785px #fff, 134px 493px #fff,
    843px 125px #fff, 302px 977px #fff, 594px 923px #fff, 1855px 480px #fff,
    630px 1591px #fff, 589px 882px #fff, 1767px 1221px #fff, 1412px 1530px #fff,
    1673px 939px #fff, 1752px 1606px #fff, 1572px 338px #fff, 1066px 621px #fff,
    1768px 115px #fff, 757px 1516px #fff, 1213px 205px #fff, 440px 104px #fff,
    316px 1625px #fff, 701px 1881px #fff, 1648px 1404px #fff, 1597px 1849px #fff,
    1718px 607px #fff, 205px 300px #fff, 1527px 1337px #fff, 422px 903px #fff,
    474px 31px #fff, 1800px 1128px #fff, 1455px 518px #fff, 1864px 946px #fff,
    964px 5px #fff, 254px 1790px #fff, 1977px 467px #fff, 1595px 1657px #fff,
    1115px 1081px #fff, 1976px 1191px #fff, 105px 1529px #fff, 1862px 167px #fff,
    1920px 475px #fff, 1955px 7px #fff, 462px 1065px #fff, 229px 427px #fff,
    721px 896px #fff, 1091px 341px #fff, 653px 229px #fff, 492px 650px #fff,
    139px 1141px #fff, 1104px 825px #fff, 1805px 660px #fff, 33px 64px #fff,
    1503px 1768px #fff, 1053px 1262px #fff, 1500px 24px #fff, 356px 1836px #fff,
    21px 225px #fff, 277px 1766px #fff, 965px 1971px #fff, 444px 1711px #fff,
    1580px 210px #fff, 704px 1098px #fff, 79px 803px #fff, 1708px 1868px #fff,
    324px 785px #fff, 1155px 1694px #fff, 1980px 670px #fff, 744px 405px #fff,
    917px 236px #fff, 408px 1520px #fff, 869px 1168px #fff, 344px 1396px #fff,
    1239px 585px #fff, 1727px 1311px #fff, 441px 180px #fff, 1335px 1204px #fff,
    890px 1481px #fff, 1999px 1190px #fff, 966px 197px #fff, 1648px 359px #fff,
    1470px 579px #fff, 991px 1553px #fff, 995px 1677px #fff, 940px 1409px #fff,
    1185px 1746px #fff, 741px 1096px #fff, 159px 1783px #fff, 554px 1490px #fff,
    836px 1180px #fff, 521px 1437px #fff, 607px 1496px #fff, 722px 559px #fff,
    9px 267px #fff, 1102px 515px #fff, 40px 401px #fff, 1454px 1906px #fff,
    1472px 1969px #fff, 1250px 669px #fff, 1786px 387px #fff, 1701px 619px #fff,
    854px 1350px #fff, 283px 1056px #fff, 1339px 1167px #fff, 798px 560px #fff,
    1001px 1215px #fff, 1700px 102px #fff, 1832px 89px #fff, 1692px 1831px #fff,
    347px 1955px #fff, 1699px 118px #fff, 510px 1870px #fff, 796px 50px #fff,
    888px 1916px #fff, 400px 977px #fff, 913px 760px #fff, 1358px 1457px #fff,
    23px 158px #fff, 1927px 871px #fff, 1884px 754px #fff, 523px 1339px #fff,
    1108px 956px #fff, 1188px 1979px #fff, 978px 1800px #fff, 1990px 1972px #fff,
    1463px 764px #fff, 1649px 1005px #fff, 1514px 1528px #fff, 1594px 179px #fff,
    1818px 918px #fff, 476px 1315px #fff, 330px 1541px #fff, 828px 306px #fff,
    481px 1693px #fff, 1274px 666px #fff, 878px 930px #fff, 1985px 489px #fff,
    60px 1155px #fff, 621px 929px #fff, 747px 1181px #fff, 600px 500px #fff,
    151px 1657px #fff, 1680px 1063px #fff, 916px 1405px #fff, 1105px 1990px #fff,
    1397px 1876px #fff, 589px 175px #fff, 308px 1340px #fff, 1985px 644px #fff,
    1618px 354px #fff, 771px 608px #fff, 1123px 333px #fff, 341px 5px #fff,
    329px 175px #fff, 1483px 1723px #fff, 1466px 1686px #fff, 1392px 1430px #fff,
    207px 1269px #fff, 92px 951px #fff, 1469px 90px #fff, 567px 128px #fff,
    154px 339px #fff, 127px 658px #fff, 909px 1335px #fff, 74px 950px #fff,
    130px 1737px #fff, 709px 1179px #fff, 1654px 344px #fff, 1086px 1665px #fff,
    840px 1740px #fff, 1727px 386px #fff, 1322px 933px #fff, 1314px 1180px #fff,
    14px 231px #fff, 564px 1685px #fff, 1092px 1555px #fff, 463px 120px #fff,
    1188px 1276px #fff, 249px 359px #fff, 1930px 362px #fff, 1510px 1600px #fff,
    249px 934px #fff, 1344px 1048px #fff, 99px 1500px #fff, 1779px 29px #fff,
    1561px 810px #fff, 1307px 152px #fff, 618px 1631px #fff, 964px 284px #fff,
    716px 1142px #fff, 654px 460px #fff, 1077px 1713px #fff, 201px 1427px #fff,
    338px 1627px #fff, 123px 1492px #fff, 1920px 1906px #fff, 1665px 1261px #fff,
    1800px 118px #fff, 491px 1958px #fff, 1723px 1289px #fff, 481px 124px #fff,
    166px 429px #fff, 428px 721px #fff, 1121px 1112px #fff, 1204px 214px #fff,
    867px 233px #fff, 1722px 1230px #fff, 764px 1233px #fff, 550px 687px #fff,
    995px 41px #fff, 1784px 140px #fff, 551px 518px #fff, 1361px 1590px #fff,
    1783px 10px #fff, 314px 580px #fff, 141px 163px #fff, 1733px 334px #fff,
    1061px 331px #fff, 1081px 1052px #fff, 1601px 431px #fff, 692px 927px #fff,
    758px 1688px #fff, 436px 990px #fff, 1197px 1872px #fff, 761px 1489px #fff,
    1874px 932px #fff, 1628px 1583px #fff, 226px 824px #fff, 148px 485px #fff,
    413px 1985px #fff, 479px 720px #fff, 1437px 388px #fff, 1461px 1425px #fff,
    849px 371px #fff, 218px 320px #fff, 1378px 682px #fff, 1964px 1604px #fff,
    1348px 1600px #fff, 1px 109px #fff, 336px 126px #fff, 92px 1057px #fff,
    918px 1250px #fff, 1780px 1017px #fff, 1469px 530px #fff, 14px 439px #fff,
    777px 487px #fff, 784px 518px #fff, 1618px 1206px #fff, 397px 1224px #fff,
    955px 873px #fff, 1120px 918px #fff, 1308px 629px #fff, 815px 724px #fff,
    264px 428px #fff, 915px 120px #fff, 803px 1919px #fff, 88px 1468px #fff,
    1324px 195px #fff, 67px 195px #fff, 1489px 817px #fff, 895px 1431px #fff,
    1402px 400px #fff, 43px 1542px #fff, 785px 536px #fff, 1578px 1801px #fff,
    1483px 1906px #fff, 746px 1661px #fff, 196px 1919px #fff, 547px 56px #fff,
    72px 1189px #fff, 1491px 1850px #fff, 1012px 1712px #fff, 1549px 1741px #fff,
    138px 1234px #fff, 1729px 833px #fff, 1052px 1439px #fff, 635px 770px #fff,
    1711px 1396px #fff, 158px 1322px #fff, 1515px 1940px #fff, 693px 879px #fff,
    1377px 1348px #fff, 1764px 83px #fff, 1988px 1585px #fff, 1092px 1053px #fff,
    1101px 703px #fff, 954px 32px #fff, 1849px 1016px #fff, 730px 1875px #fff,
    1884px 906px #fff, 1686px 692px #fff, 266px 1285px #fff, 37px 282px #fff,
    170px 1930px #fff, 1156px 1024px #fff, 1283px 881px #fff, 810px 446px #fff,
    220px 380px #fff, 1199px 1460px #fff, 586px 1425px #fff, 102px 394px #fff,
    998px 724px #fff, 1010px 1098px #fff, 992px 35px #fff, 1602px 423px #fff,
    260px 389px #fff, 1898px 100px #fff, 1000px 469px #fff, 1772px 1613px #fff,
    1698px 1345px #fff, 214px 1631px #fff, 1472px 1615px #fff, 643px 1093px #fff,
    22px 1008px #fff, 1942px 1249px #fff, 1199px 1926px #fff, 1605px 1217px #fff,
    1163px 1607px #fff, 623px 1756px #fff, 1528px 1659px #fff,
    1974px 1304px #fff, 243px 207px #fff, 1950px 1717px #fff, 551px 1027px #fff,
    63px 745px #fff, 854px 1407px #fff, 342px 1449px #fff, 548px 1502px #fff,
    756px 997px #fff, 1507px 1961px #fff, 1178px 1582px #fff, 702px 576px #fff,
    1193px 1092px #fff, 431px 1029px #fff, 1451px 1395px #fff, 1572px 710px #fff,
    682px 1007px #fff, 1444px 623px #fff, 1177px 440px #fff, 892px 1696px #fff,
    345px 1554px #fff, 1959px 844px #fff, 874px 1162px #fff, 1753px 125px #fff,
    53px 50px #fff, 1666px 485px #fff, 76px 1184px #fff, 222px 531px #fff,
    629px 411px #fff, 431px 1426px #fff, 1775px 175px #fff, 895px 222px #fff,
    353px 1035px #fff, 199px 1850px #fff, 141px 867px #fff, 1447px 199px #fff,
    257px 2px #fff, 327px 1948px #fff, 1150px 284px #fff, 79px 1737px #fff,
    181px 1934px #fff, 775px 1398px #fff, 885px 671px #fff, 1370px 1632px #fff,
    589px 1164px #fff, 1254px 123px #fff, 385px 426px #fff, 920px 1108px #fff,
    594px 161px #fff, 461px 342px #fff, 352px 816px #fff, 1568px 1028px #fff,
    1658px 1679px #fff, 1780px 179px #fff, 1360px 1863px #fff,
    1338px 1534px #fff, 187px 163px #fff, 80px 1837px #fff, 1542px 1836px #fff,
    265px 1343px #fff, 1233px 787px #fff, 754px 899px #fff, 1949px 699px #fff,
    1813px 1686px #fff, 180px 1621px #fff, 1788px 1344px #fff,
    1625px 1757px #fff, 1567px 1916px #fff, 757px 442px #fff, 709px 1590px #fff,
    1260px 1478px #fff, 1740px 158px #fff, 1222px 576px #fff, 1026px 1495px #fff,
    598px 1645px #fff, 979px 1644px #fff, 1293px 1557px #fff, 315px 1115px #fff,
    262px 260px #fff, 1607px 1390px #fff, 928px 528px #fff, 989px 578px #fff,
    1064px 1501px #fff, 1631px 1150px #fff, 1152px 654px #fff, 547px 389px #fff,
    547px 1982px #fff, 1212px 871px #fff, 114px 1852px #fff, 161px 1895px #fff,
    1763px 573px #fff, 1952px 1634px #fff, 528px 1989px #fff, 970px 1749px #fff,
    1310px 954px #fff, 580px 1866px #fff, 870px 1244px #fff, 319px 903px #fff,
    151px 112px #fff, 1216px 536px #fff, 369px 705px #fff, 1271px 1320px #fff,
    151px 1651px #fff, 1122px 252px #fff, 299px 1333px #fff, 1416px 785px #fff,
    923px 1250px #fff, 1801px 1438px #fff, 1610px 1189px #fff, 1883px 496px #fff,
    1156px 800px #fff, 1311px 975px #fff, 1430px 1521px #fff, 1413px 1903px #fff,
    1123px 1758px #fff, 1118px 1291px #fff, 1290px 669px #fff, 1111px 790px #fff,
    436px 1632px #fff, 449px 588px #fff, 1201px 496px #fff, 165px 1359px #fff,
    1465px 1152px #fff, 1119px 1526px #fff, 650px 1452px #fff,
    1952px 1331px #fff, 1270px 1484px #fff, 757px 979px #fff, 1182px 1475px #fff,
    1491px 1795px #fff, 556px 97px #fff, 443px 1425px #fff, 276px 47px #fff,
    1969px 1344px #fff, 962px 1686px #fff, 662px 1084px #fff, 1955px 253px #fff,
    1889px 303px #fff, 525px 1708px #fff, 1195px 1191px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 146px 22px #fff, 184px 1779px #fff, 312px 1057px #fff,
    143px 837px #fff, 535px 1570px #fff, 1902px 766px #fff, 1382px 760px #fff,
    926px 1496px #fff, 1264px 869px #fff, 897px 1116px #fff, 434px 470px #fff,
    735px 141px #fff, 1796px 2px #fff, 128px 1953px #fff, 1102px 581px #fff,
    1720px 495px #fff, 1567px 527px #fff, 1274px 1394px #fff, 881px 362px #fff,
    1132px 654px #fff, 660px 876px #fff, 1898px 1355px #fff, 760px 1232px #fff,
    188px 1038px #fff, 470px 1701px #fff, 1278px 1354px #fff, 1607px 848px #fff,
    1956px 1108px #fff, 1096px 912px #fff, 1072px 1011px #fff,
    1308px 1608px #fff, 1695px 1060px #fff, 730px 130px #fff, 1073px 1099px #fff,
    95px 1470px #fff, 631px 574px #fff, 318px 1189px #fff, 306px 1453px #fff,
    1829px 491px #fff, 956px 1496px #fff, 1720px 1830px #fff, 384px 155px #fff,
    893px 1303px #fff, 1344px 326px #fff, 254px 914px #fff, 515px 1750px #fff,
    957px 1740px #fff, 25px 547px #fff, 1624px 926px #fff, 1329px 122px #fff,
    38px 779px #fff, 195px 1909px #fff, 760px 161px #fff, 881px 1617px #fff,
    726px 410px #fff, 992px 634px #fff, 1597px 1161px #fff, 104px 124px #fff,
    1671px 341px #fff, 1122px 1703px #fff, 1728px 1815px #fff, 339px 1155px #fff,
    1740px 409px #fff, 1032px 1957px #fff, 159px 1152px #fff, 651px 1078px #fff,
    586px 462px #fff, 1627px 1087px #fff, 59px 395px #fff, 1317px 226px #fff,
    118px 485px #fff, 49px 1408px #fff, 58px 565px #fff, 1804px 433px #fff,
    1699px 1950px #fff, 1301px 980px #fff, 840px 429px #fff, 1990px 1868px #fff,
    590px 1508px #fff, 1947px 1428px #fff, 247px 755px #fff, 543px 840px #fff,
    168px 528px #fff, 474px 30px #fff, 1060px 1025px #fff, 1200px 1543px #fff,
    644px 887px #fff, 1554px 837px #fff, 165px 1562px #fff, 738px 201px #fff,
    89px 1774px #fff, 931px 1521px #fff, 1656px 462px #fff, 390px 192px #fff,
    568px 324px #fff, 694px 360px #fff, 1149px 174px #fff, 1892px 227px #fff,
    1932px 1332px #fff, 1994px 1113px #fff, 625px 1910px #fff, 552px 777px #fff,
    22px 378px #fff, 856px 1913px #fff, 568px 35px #fff, 1376px 1200px #fff,
    196px 524px #fff, 1042px 1481px #fff, 1190px 1770px #fff, 1753px 1136px #fff,
    374px 420px #fff, 339px 1900px #fff, 1833px 330px #fff, 1170px 492px #fff,
    325px 237px #fff, 960px 1233px #fff, 307px 433px #fff, 139px 347px #fff,
    729px 1026px #fff, 1984px 1085px #fff, 996px 64px #fff, 680px 1581px #fff,
    505px 1247px #fff, 311px 1326px #fff, 1945px 82px #fff, 51px 766px #fff,
    1320px 670px #fff, 1609px 167px #fff, 734px 364px #fff, 1448px 1591px #fff,
    1129px 1080px #fff, 1601px 137px #fff, 58px 1800px #fff, 1241px 1096px #fff,
    1530px 73px #fff, 1208px 315px #fff, 1847px 99px #fff, 1984px 472px #fff,
    1180px 30px #fff, 579px 1829px #fff, 1591px 411px #fff, 1394px 1603px #fff,
    1366px 1480px #fff, 1138px 481px #fff, 215px 346px #fff, 1368px 1419px #fff,
    491px 1239px #fff, 382px 1480px #fff, 1540px 1846px #fff, 354px 1323px #fff,
    1466px 1796px #fff, 15px 1833px #fff, 337px 1950px #fff, 882px 1711px #fff,
    933px 1396px #fff, 1766px 1944px #fff, 1275px 1964px #fff, 466px 1240px #fff,
    527px 1642px #fff, 1542px 645px #fff, 1795px 1031px #fff, 898px 961px #fff,
    703px 871px #fff, 654px 1646px #fff, 1194px 1092px #fff, 1371px 998px #fff,
    480px 793px #fff, 741px 1070px #fff, 1790px 1575px #fff, 1199px 1676px #fff,
    216px 178px #fff, 614px 1338px #fff, 190px 1114px #fff, 1805px 205px #fff,
    1159px 545px #fff, 1540px 1005px #fff, 179px 1023px #fff, 1980px 215px #fff,
    3px 914px #fff, 550px 1503px #fff, 641px 1833px #fff, 459px 1801px #fff,
    565px 1101px #fff, 1009px 1738px #fff, 86px 972px #fff, 1000px 1492px #fff,
    1236px 1306px #fff, 1853px 719px #fff, 1409px 736px #fff, 1901px 1629px #fff,
    114px 218px #fff, 1811px 241px #fff, 576px 53px #fff, 556px 1914px #fff,
    1805px 1532px #fff, 235px 1894px #fff, 967px 1213px #fff, 690px 1811px #fff,
    516px 1239px #fff, 1098px 100px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 146px 22px #fff, 184px 1779px #fff, 312px 1057px #fff,
    143px 837px #fff, 535px 1570px #fff, 1902px 766px #fff, 1382px 760px #fff,
    926px 1496px #fff, 1264px 869px #fff, 897px 1116px #fff, 434px 470px #fff,
    735px 141px #fff, 1796px 2px #fff, 128px 1953px #fff, 1102px 581px #fff,
    1720px 495px #fff, 1567px 527px #fff, 1274px 1394px #fff, 881px 362px #fff,
    1132px 654px #fff, 660px 876px #fff, 1898px 1355px #fff, 760px 1232px #fff,
    188px 1038px #fff, 470px 1701px #fff, 1278px 1354px #fff, 1607px 848px #fff,
    1956px 1108px #fff, 1096px 912px #fff, 1072px 1011px #fff,
    1308px 1608px #fff, 1695px 1060px #fff, 730px 130px #fff, 1073px 1099px #fff,
    95px 1470px #fff, 631px 574px #fff, 318px 1189px #fff, 306px 1453px #fff,
    1829px 491px #fff, 956px 1496px #fff, 1720px 1830px #fff, 384px 155px #fff,
    893px 1303px #fff, 1344px 326px #fff, 254px 914px #fff, 515px 1750px #fff,
    957px 1740px #fff, 25px 547px #fff, 1624px 926px #fff, 1329px 122px #fff,
    38px 779px #fff, 195px 1909px #fff, 760px 161px #fff, 881px 1617px #fff,
    726px 410px #fff, 992px 634px #fff, 1597px 1161px #fff, 104px 124px #fff,
    1671px 341px #fff, 1122px 1703px #fff, 1728px 1815px #fff, 339px 1155px #fff,
    1740px 409px #fff, 1032px 1957px #fff, 159px 1152px #fff, 651px 1078px #fff,
    586px 462px #fff, 1627px 1087px #fff, 59px 395px #fff, 1317px 226px #fff,
    118px 485px #fff, 49px 1408px #fff, 58px 565px #fff, 1804px 433px #fff,
    1699px 1950px #fff, 1301px 980px #fff, 840px 429px #fff, 1990px 1868px #fff,
    590px 1508px #fff, 1947px 1428px #fff, 247px 755px #fff, 543px 840px #fff,
    168px 528px #fff, 474px 30px #fff, 1060px 1025px #fff, 1200px 1543px #fff,
    644px 887px #fff, 1554px 837px #fff, 165px 1562px #fff, 738px 201px #fff,
    89px 1774px #fff, 931px 1521px #fff, 1656px 462px #fff, 390px 192px #fff,
    568px 324px #fff, 694px 360px #fff, 1149px 174px #fff, 1892px 227px #fff,
    1932px 1332px #fff, 1994px 1113px #fff, 625px 1910px #fff, 552px 777px #fff,
    22px 378px #fff, 856px 1913px #fff, 568px 35px #fff, 1376px 1200px #fff,
    196px 524px #fff, 1042px 1481px #fff, 1190px 1770px #fff, 1753px 1136px #fff,
    374px 420px #fff, 339px 1900px #fff, 1833px 330px #fff, 1170px 492px #fff,
    325px 237px #fff, 960px 1233px #fff, 307px 433px #fff, 139px 347px #fff,
    729px 1026px #fff, 1984px 1085px #fff, 996px 64px #fff, 680px 1581px #fff,
    505px 1247px #fff, 311px 1326px #fff, 1945px 82px #fff, 51px 766px #fff,
    1320px 670px #fff, 1609px 167px #fff, 734px 364px #fff, 1448px 1591px #fff,
    1129px 1080px #fff, 1601px 137px #fff, 58px 1800px #fff, 1241px 1096px #fff,
    1530px 73px #fff, 1208px 315px #fff, 1847px 99px #fff, 1984px 472px #fff,
    1180px 30px #fff, 579px 1829px #fff, 1591px 411px #fff, 1394px 1603px #fff,
    1366px 1480px #fff, 1138px 481px #fff, 215px 346px #fff, 1368px 1419px #fff,
    491px 1239px #fff, 382px 1480px #fff, 1540px 1846px #fff, 354px 1323px #fff,
    1466px 1796px #fff, 15px 1833px #fff, 337px 1950px #fff, 882px 1711px #fff,
    933px 1396px #fff, 1766px 1944px #fff, 1275px 1964px #fff, 466px 1240px #fff,
    527px 1642px #fff, 1542px 645px #fff, 1795px 1031px #fff, 898px 961px #fff,
    703px 871px #fff, 654px 1646px #fff, 1194px 1092px #fff, 1371px 998px #fff,
    480px 793px #fff, 741px 1070px #fff, 1790px 1575px #fff, 1199px 1676px #fff,
    216px 178px #fff, 614px 1338px #fff, 190px 1114px #fff, 1805px 205px #fff,
    1159px 545px #fff, 1540px 1005px #fff, 179px 1023px #fff, 1980px 215px #fff,
    3px 914px #fff, 550px 1503px #fff, 641px 1833px #fff, 459px 1801px #fff,
    565px 1101px #fff, 1009px 1738px #fff, 86px 972px #fff, 1000px 1492px #fff,
    1236px 1306px #fff, 1853px 719px #fff, 1409px 736px #fff, 1901px 1629px #fff,
    114px 218px #fff, 1811px 241px #fff, 576px 53px #fff, 556px 1914px #fff,
    1805px 1532px #fff, 235px 1894px #fff, 967px 1213px #fff, 690px 1811px #fff,
    516px 1239px #fff, 1098px 100px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1849px 1094px #fff, 444px 1979px #fff, 250px 1675px #fff,
    1041px 1002px #fff, 1202px 1285px #fff, 1389px 26px #fff, 1854px 471px #fff,
    1033px 592px #fff, 1682px 1654px #fff, 1051px 501px #fff, 209px 1400px #fff,
    811px 542px #fff, 1246px 1521px #fff, 1429px 500px #fff, 940px 1121px #fff,
    196px 1928px #fff, 295px 1426px #fff, 596px 452px #fff, 562px 1181px #fff,
    1339px 1652px #fff, 1839px 76px #fff, 1606px 1983px #fff, 403px 1095px #fff,
    1830px 1880px #fff, 296px 1142px #fff, 1600px 1093px #fff, 40px 1575px #fff,
    1203px 1083px #fff, 1602px 136px #fff, 713px 1187px #fff, 1020px 375px #fff,
    464px 723px #fff, 174px 1357px #fff, 584px 1442px #fff, 768px 1588px #fff,
    767px 248px #fff, 1606px 593px #fff, 526px 431px #fff, 317px 699px #fff,
    1697px 1849px #fff, 1157px 1668px #fff, 1129px 693px #fff, 273px 20px #fff,
    763px 74px #fff, 880px 1871px #fff, 1711px 151px #fff, 1159px 426px #fff,
    1515px 84px #fff, 431px 1602px #fff, 623px 642px #fff, 1720px 1486px #fff,
    1874px 1256px #fff, 1145px 633px #fff, 1094px 1194px #fff,
    1348px 1612px #fff, 1716px 172px #fff, 1646px 1870px #fff, 207px 866px #fff,
    419px 1739px #fff, 1709px 1866px #fff, 302px 1585px #fff, 1120px 1166px #fff,
    1048px 914px #fff, 1537px 1814px #fff, 1273px 627px #fff, 1239px 1223px #fff,
    323px 745px #fff, 550px 50px #fff, 451px 682px #fff, 723px 2000px #fff,
    206px 1819px #fff, 669px 1699px #fff, 605px 1844px #fff, 1508px 829px #fff,
    1260px 1820px #fff, 594px 946px #fff, 417px 1951px #fff, 1549px 1832px #fff,
    401px 1127px #fff, 1586px 1699px #fff, 1068px 933px #fff, 1595px 1058px #fff,
    825px 1484px #fff, 710px 1922px #fff, 1727px 509px #fff, 1390px 376px #fff,
    1607px 1370px #fff, 1780px 1681px #fff, 1206px 499px #fff, 947px 214px #fff,
    1317px 1439px #fff, 1623px 194px #fff, 1978px 1164px #fff,
    1350px 1749px #fff, 1284px 1316px #fff, 1121px 539px #fff, 1769px 679px #fff,
    1139px 610px #fff, 167px 1412px #fff, 762px 1075px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1849px 1094px #fff, 444px 1979px #fff, 250px 1675px #fff,
    1041px 1002px #fff, 1202px 1285px #fff, 1389px 26px #fff, 1854px 471px #fff,
    1033px 592px #fff, 1682px 1654px #fff, 1051px 501px #fff, 209px 1400px #fff,
    811px 542px #fff, 1246px 1521px #fff, 1429px 500px #fff, 940px 1121px #fff,
    196px 1928px #fff, 295px 1426px #fff, 596px 452px #fff, 562px 1181px #fff,
    1339px 1652px #fff, 1839px 76px #fff, 1606px 1983px #fff, 403px 1095px #fff,
    1830px 1880px #fff, 296px 1142px #fff, 1600px 1093px #fff, 40px 1575px #fff,
    1203px 1083px #fff, 1602px 136px #fff, 713px 1187px #fff, 1020px 375px #fff,
    464px 723px #fff, 174px 1357px #fff, 584px 1442px #fff, 768px 1588px #fff,
    767px 248px #fff, 1606px 593px #fff, 526px 431px #fff, 317px 699px #fff,
    1697px 1849px #fff, 1157px 1668px #fff, 1129px 693px #fff, 273px 20px #fff,
    763px 74px #fff, 880px 1871px #fff, 1711px 151px #fff, 1159px 426px #fff,
    1515px 84px #fff, 431px 1602px #fff, 623px 642px #fff, 1720px 1486px #fff,
    1874px 1256px #fff, 1145px 633px #fff, 1094px 1194px #fff,
    1348px 1612px #fff, 1716px 172px #fff, 1646px 1870px #fff, 207px 866px #fff,
    419px 1739px #fff, 1709px 1866px #fff, 302px 1585px #fff, 1120px 1166px #fff,
    1048px 914px #fff, 1537px 1814px #fff, 1273px 627px #fff, 1239px 1223px #fff,
    323px 745px #fff, 550px 50px #fff, 451px 682px #fff, 723px 2000px #fff,
    206px 1819px #fff, 669px 1699px #fff, 605px 1844px #fff, 1508px 829px #fff,
    1260px 1820px #fff, 594px 946px #fff, 417px 1951px #fff, 1549px 1832px #fff,
    401px 1127px #fff, 1586px 1699px #fff, 1068px 933px #fff, 1595px 1058px #fff,
    825px 1484px #fff, 710px 1922px #fff, 1727px 509px #fff, 1390px 376px #fff,
    1607px 1370px #fff, 1780px 1681px #fff, 1206px 499px #fff, 947px 214px #fff,
    1317px 1439px #fff, 1623px 194px #fff, 1978px 1164px #fff,
    1350px 1749px #fff, 1284px 1316px #fff, 1121px 539px #fff, 1769px 679px #fff,
    1139px 610px #fff, 167px 1412px #fff, 762px 1075px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1500px);
  }
}
