@font-face {
  font-family: "Sucrose Bold Two";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2")
    format("woff2");
}
@font-face {
  font-family: "IM Fell French Canon Pro";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2")
    format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: darkgrey;
}

main {
  background: #fff;
  position: relative;
  border: 1px solid #fff;
}

